Source: bitpim
Section: comm
Priority: extra
Maintainer: Joe Pham<djpham@bitpim.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: bitpim
Architecture: any
Depends: ${shlibs:Depends}
Description: Manage data on CDMA phones from LG, Samsung, Sanyo and others
 BitPim is a program that allows you to view and manipulate data on
 many CDMA phones from LG, Samsung, Sanyo and other manufacturers. This
 includes the PhoneBook, Calendar, WallPapers, RingTones (functionality
 varies by phone) and the Filesystem for most Qualcomm CDMA chipset
 based phones.
